header {
    background-color:#4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 545px 265px;
}
.img{
    height: 150px;
    width: 300px;
}
.title{
    font-size: 40px;
    font-weight: 800;
}
.link{
    color:#20A9E5 ;
    text-decoration: none;
}
.credit{
    height: 5px;
}
.author{
    color: #808080;
    height: 45px;
}
.captions{
    font-size: 13px;
}

p{
    font-size: 15px;
}
thead{
    color: white;
    background-color: #20A9E5;
}
tbody{
    background-color: #B1E5F2;
}
.second{
    background-color: white;
}
.third{
    width: 60%;
}