header {
    background-color:#4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 30%;
    height: 140px;
}
.img{
    height: 70px;
}
.title{
    font-size: 40px;
    font-weight: 800;
}
.link{
    color:#20A9E5 ;
    text-decoration: none;
}
.credit{
    height: 5px;
}
.author{
    color: #808080;
}
.captions{
    font-size: 13px;
}

p{
    font-size: 15px;
}
table{
    border-collapse: collapse;
}
thead{
    color: white;
    background-color: #20A9E5;
    text-align: left;
}
.table-row{
    background-color: #B1E5F2;
}
.third-cell{
    width: 60%;
}
.Lorem1{
    color: white;
    background-image: url(../img/monitor.jpg);
    height: 208px;
    width: 312px;
}
.Lorem2{
    color: white;
    background-image: url(../img/graph.jpg);
    height: 211px;
    width: 311px;
}